<%- include("header") -%>
<div class="post-body">
  <div>
    <h1 class="post-title"><i><%= Title %></i></h1>
    <div class="post-img"><img src="<%= image %>" alt="" width="100%" /></div>
    <p class="post-content"><%= content %></p>
    <a href="<%= link %>" target="”_blank”"><%= linkword %></a>
    <button><a href="/home">Home-page</a></button>
  </div>
</div>
<%- include("footer") -%>
